SiafuWSTest/wsdl/SiafuContextWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.siafu.nle.nec.de" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.siafu.nle.nec.de" xmlns:intf="http://ws.siafu.nle.nec.de" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.siafu.nle.nec.de" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="setAgentContext">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="variable" type="xsd:string"/>
      <element name="value" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setAgentContextResponse">
    <complexType/>
   </element>
   <element name="setAgentsMultipleContext">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="name" type="xsd:string"/>
      <element maxOccurs="unbounded" name="variable" type="xsd:string"/>
      <element maxOccurs="unbounded" name="value" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setAgentsMultipleContextResponse">
    <complexType/>
   </element>
   <element name="getAgentContext">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="context" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAgentContextResponse">
    <complexType>
     <sequence>
      <element name="getAgentContextReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAgentMultipleContext">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element maxOccurs="unbounded" name="context" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAgentMultipleContextResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAgentMultipleContextReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findNearbyAgents">
    <complexType>
     <sequence>
      <element name="position" type="xsd:string"/>
      <element name="dist" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="findNearbyAgentsResponse">
    <complexType>
     <sequence>
      <element name="findNearbyAgentsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findNearbyPlaces">
    <complexType>
     <sequence>
      <element name="position" type="xsd:string"/>
      <element name="dist" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="findNearbyPlacesResponse">
    <complexType>
     <sequence>
      <element name="findNearbyPlacesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAgentMultipleContextRequest">

      <wsdl:part element="impl:getAgentMultipleContext" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setAgentContextRequest">

      <wsdl:part element="impl:setAgentContext" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAgentMultipleContextResponse">

      <wsdl:part element="impl:getAgentMultipleContextResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAgentContextResponse">

      <wsdl:part element="impl:getAgentContextResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="findNearbyPlacesRequest">

      <wsdl:part element="impl:findNearbyPlaces" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setAgentsMultipleContextResponse">

      <wsdl:part element="impl:setAgentsMultipleContextResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAgentContextRequest">

      <wsdl:part element="impl:getAgentContext" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setAgentContextResponse">

      <wsdl:part element="impl:setAgentContextResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="findNearbyAgentsResponse">

      <wsdl:part element="impl:findNearbyAgentsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="findNearbyAgentsRequest">

      <wsdl:part element="impl:findNearbyAgents" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="findNearbyPlacesResponse">

      <wsdl:part element="impl:findNearbyPlacesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setAgentsMultipleContextRequest">

      <wsdl:part element="impl:setAgentsMultipleContext" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="SiafuContextWS">

      <wsdl:operation name="setAgentContext">

         <wsdl:input message="impl:setAgentContextRequest" name="setAgentContextRequest"/>

         <wsdl:output message="impl:setAgentContextResponse" name="setAgentContextResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setAgentsMultipleContext">

         <wsdl:input message="impl:setAgentsMultipleContextRequest" name="setAgentsMultipleContextRequest"/>

         <wsdl:output message="impl:setAgentsMultipleContextResponse" name="setAgentsMultipleContextResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAgentContext">

         <wsdl:input message="impl:getAgentContextRequest" name="getAgentContextRequest"/>

         <wsdl:output message="impl:getAgentContextResponse" name="getAgentContextResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAgentMultipleContext">

         <wsdl:input message="impl:getAgentMultipleContextRequest" name="getAgentMultipleContextRequest"/>

         <wsdl:output message="impl:getAgentMultipleContextResponse" name="getAgentMultipleContextResponse"/>

      </wsdl:operation>

      <wsdl:operation name="findNearbyAgents">

         <wsdl:input message="impl:findNearbyAgentsRequest" name="findNearbyAgentsRequest"/>

         <wsdl:output message="impl:findNearbyAgentsResponse" name="findNearbyAgentsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="findNearbyPlaces">

         <wsdl:input message="impl:findNearbyPlacesRequest" name="findNearbyPlacesRequest"/>

         <wsdl:output message="impl:findNearbyPlacesResponse" name="findNearbyPlacesResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SiafuContextWSSoapBinding" type="impl:SiafuContextWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setAgentContext">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setAgentContextRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setAgentContextResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setAgentsMultipleContext">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setAgentsMultipleContextRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setAgentsMultipleContextResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAgentContext">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAgentContextRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAgentContextResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAgentMultipleContext">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAgentMultipleContextRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAgentMultipleContextResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findNearbyAgents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findNearbyAgentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findNearbyAgentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findNearbyPlaces">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findNearbyPlacesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findNearbyPlacesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SiafuContextWSService">

      <wsdl:port binding="impl:SiafuContextWSSoapBinding" name="SiafuContextWS">

         <wsdlsoap:address location="http://localhost:8080/SiafuWS/services/SiafuContextWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
